# Backend
backend/.venv/
backend/serviceAccountKey.json
backend/.env
backend/__pycache__/
backend/get-pip.py
backend/firebase-debug.log
**/*.pyc

# Frontend
node_modules/
dist/
.env
.env.local

# System
.DS_Store
Thumbs.db
